*{
	padding:0;
	margin:0;
}
@font-face {
	font-family: "TTNormsRegular";
	src: url("../../fonts/TTNorms/TTNorms-Regular.ttf");
	src: url("../../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"),
	url("../../fonts/TTNorms/TTNorms-Regular.woff") format("woff"),
	url("../../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TTNormsThin";
	src: url("../../fonts/TTNorms/TTNorms-Thin.ttf");
	src: url("../../fonts/TTNorms/TTNorms-Thin.eot?#iefix") format("embedded-opentype"),
	url("../../fonts/TTNorms/TTNorms-Thin.woff") format("woff"),
	url("../../fonts/TTNorms/TTNorms-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TTNormsExtraBold";
	src: url("../../fonts/TTNorms/TTNorms-ExtraBold.ttf");
	src: url("../../fonts/TTNorms/TTNorms-ExtraBold.eot?#iefix") format("embedded-opentype"),
	url("../../fonts/TTNorms/TTNorms-ExtraBold.woff") format("woff"),
	url("../../fonts/TTNorms/TTNorms-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.clearfix {
	clear:both;
}
html {
	background-color: #fff;
	font-family: "TTNormsRegular";
}

/*=====*/
.wrapper {
	min-height: calc(100vh - 55px);
}
.contant {
	width: 95%;
	margin: 50px auto 0;
}
.contant>div{
	margin-top: 5px;
	float:left;
}
.left {
	width:20%;
}
.center{
	width:80%;
	margin:0 auto;
	margin-left: ;
}
 /*==LOGIN==*/
.login{
	font: normal 15px TTNormsRegular;
	width:95%;
	margin:0 auto;
}
.login_text{
	font: normal 15px TTNormsRegular;
	color: #ffffff;
	padding:10px 20px;
	background-color: #df5558;
	border-bottom: 1px solid #ffffff;
}
.login_text>a{
	text-decoration: none;
	color: #ffffff;
	font: italic 15px TTNormsRegular;
}
.login_text>a:hover{
	text-decoration: underline;
}
.login_input{
	font: normal 15px TTNormsRegular;
	color: #ffffff;
	padding:15px;
	background-color: #444444;
}
.login_input> form > p {
	padding: 5px;
}
.login_input a {
	text-decoration: none;
	color: #ffffff;
	font: italic 15px TTNormsRegular;
	padding-left: 5px;
}
.login_input  a:hover{
	text-decoration: underline;
}
.log{
	width:95%;
	padding: 6px 8px;
	background-color: #fff;
    border-top: 1px solid #9a9999;
    border-left: 1px solid #9a9999;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;;
    color: #747677;
}
.button {
	color: #ffffff;
	margin-top: 3%;
	padding:7px 13px;
	margin-left: 70%;
	border:0;
	background-color: #ad2c53;
}
.button:hover{
	background-color: #df5558;
}
/*====*/

/*==WELCOM==*/
.welcom{
	width:95%;
	margin:0 auto;
}
.welcom div {
	font: normal 15px TTNormsRegular;
	color: #ffffff;
	padding:10px 20px;
	background-color: #df5558;
	border-bottom: 1px solid #ffffff;
}
.welcom a {
	text-decoration: none;
	color: #ffffff;
	font: italic 15px TTNormsRegular;
}
.welcom a:hover{
	text-decoration: underline;
}
/*====*/

/*==CALENDAR==*/
#calendar2 {
	border: 3px dashed #df5558;
	background-color: #feebf4;
	margin:0 auto;
	width:95%;
	padding:10px;
	margin-top:10px;
	font: normal 15px TTNormsRegular;
	line-height: 1.2em;
	text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}
/*====*/

/*==CATEGORY==*/
.categories {
	height: 250px;
}
.category {
	display: inline-block;
	float:left;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 210px;
}
.category .image{
	border: 1px solid #faebd7;
	width: 100%;
    float: left;
    overflow: hidden;
}
 .category .image img {
    height: 160px;
    float: left;
}
 .category:hover div.image{
	border: 1px solid #df5558;
	cursor: pointer;
}
.category .name {
	border: 1px solid #faebd7;
	background-color: #eeeeee;
	width: 100%;
    float: left;
    height: 45px;
}
.category .name a {
	background-color: #eeeeee;
    width: 100%;
    height: 44px;
    display: block;
    text-align: center;
    line-height: 44px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.category:hover div.name{
	border: 1px solid #df5558;
	background-color: #df5558;
}
.center figure:hover div.name a{
	background-color: #df5558;
}
.selected div.name{
    border: 1px solid #df5558;
    background-color: #df5558;
}
.selected div.name a{
	background-color: #df5558;
}
/*====*/
/*==PRODUCT==*/
.product{
	width: 280px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    top: 0;
    background-color: #fff;
	float:left;
	margin-bottom: 15px;
	margin-left: 15px;
}
.product > div.image {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.product > div.image > img{
	height: 200px;
}

.product button {
	font:normal 16px TTNormsRegular;
}

/*     EDIT PRODUCT FORM */
.form_edit {
	display: none;
	margin-top: 5px;
}
.form_edit span {
	font-weight: bold;
}
.form_edit div {
	margin: 5px 0;
}
.form_edit input {
	font:normal 16px TTNormsRegular;
}
/*====*/
/*==MENU3==*/
.menu3 {
	margin-left: 15px;
	margin-bottom: 15px;
	height:65px;
}
.filter {
	float: left;
	margin-right: 15px;
}
.filter a{
	border-bottom: 2px dotted #444;
	text-decoration: none;
}
.filter_chosen a {
	border-bottom: 2px dotted #df5558;
	text-decoration: none;
	color: #df5558;
}