.wrapper {
	min-height: calc(100vh - 55px);
}
.main {
	width: 97%;
	margin: 50px auto 0;
}
.orders_table {
	width: 100%;
}
.orders_table thead{
	color: #fff;
}
.cancel_order_form input, .process_order_form input, .order_info input, .order_info button{
	width: 100%;
}
.filters {
	height: 70px;
	margin-bottom: 15px;
}
.filters p {
	font: normal 18px TTNormsRegular;
	margin-bottom: 15px;
}
.filters form {
	float:left;
	margin-right: 15px;
}
.filters form label {
	margin-right: 5px;
}
.products_table {
	width:90%;
	margin: 10px auto;
}
.products_table thead {
	color: #000;
}
.products_table img {
	height: 100px;
}