/* ERROR */
.error {
	padding: 10px 20px;
	margin: 5px auto;
	width: 100%;
	border-radius: 5px;
	border: solid 3px #FF5733;
	font-size: 14px;
}

/* MESSAGE */
.message {
	padding: 10px 20px;
	margin: 5px auto;
	width: 100%;
	border-radius: 5px;
	border: solid 3px #07D032;
	font-size: 14px;
}